#root {
  /* max-width: 100vh; */
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.rounded-image {
  border-radius: 10%; /* Make the image rounded */
  width: 500px; /* Set the width of the image */
  height: 500px; /* Set the height of the image */
  object-fit: cover; /* Maintain aspect ratio and cover container */
}

.rectangular-box {
  border-radius: 0.375rem;
  background-color: #ffffff; /* Background color of the box */
  border: 1px solid #dfdddd; /* Border color and width */
  padding: 20px; /* Padding inside the box */
  margin: 20px; /* Margin around the box */
  width: 1475px;
  text-align: left; /* Center text horizontally */
}
